.toppart {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  font-weight: 400;
  text-shadow: 1px 1px 1px gray, 1px 2px 1px gray, 1px 3px 1px gray,
    1px 4px 1px gray, 1px 5px 1px gray;
}

.address {
  display: flex;
}

.row {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.insideaddress {
  margin: 0;
  margin-left: 20px;
  margin-top: 0;
}
