.logo-image {
  border: 2px purple solid;
  margin-left: 50px;
  width: 200px;
  height: 100px;
  z-index: 1;
}

li a {
  font-family: "Indie Flower", cursive;
  font-size: 6rem;
  font-weight: 600;
  font-size: xx-large;
}
li a:hover {
  color: rgb(17, 16, 15);
}

.nav-wrapper {
  position: fixed;
  top: 0px;
  z-index: 1;
}

.brand-logo {
  z-index: 1;
}
